@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins ;
    padding: 0 2% ;
    margin: 0 ;
}

nav {
    display : flex ; 
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center ;
    position: sticky ;
    top : 0 ;
    background-color: white;
}

nav .profile {
    display : flex ;
    align-items: center ;

}

nav .profile img{
    width : 30px ; 
    height : 30px ; 
    border-radius: 50%;
    margin-right : 10px ; 
}

nav .profile h1 {
    font-size : 20px ;
}

nav ul {
    display: flex ;
    list-style-type: none;
}


nav ul li {
    margin-left : 20px ;
    cursor : pointer ; 
    border-bottom: 1px solid white; 
}

.projets {
    color: #B74803;
}


nav ul li a {
    text-decoration: none;
    color : black;
}

nav ul li:hover {
    border-bottom-color: #B74803; 
}

.page-content {
    margin : 2%;
}

.page-content header {
    margin-top : 5%;
    max-width: 85%;
}

.page-content .image img {
    margin-right: -200px;
    margin-top: -100px ;
    height: 400px;
    width: auto;
    float: right;
}

.page-content header h1 {
    margin : 0;
    text-transform: uppercase;
    font-size: 3.5svw;
}

.page-content header p{
    line-height: 30px;
    color :grey;
    max-width: 70%;
}

.page-content header a {
    background-color: inherit;
    border : none;
    outline : none; 
    padding: 0;
    cursor : pointer;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;

}

.popup  {
    visibility: hidden;
    opacity: 0;
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(77,77,77, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background-color: white;
    padding: 1.5em 2em;
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    position: relative;

}

.popup-close {
    position: absolute;
    right : 20px;
    top: 10px;
    color : black;
    text-decoration: none;
}



.page-content .section-parcours {
    margin-top : 6%
}

.page-content .section-parcours h1 {
    text-transform: uppercase ;
    font-size: 30px;
    border-bottom: 2px solid black;
    
    display : inline-block;
    margin-bottom: 3%;
}

.page-content .section-parcours .parcours {
    display: flex;
    flex-wrap: wrap;
}

.page-content .section-parcours .parcours .items-parcours {
    margin-right: 40px ;
    max-width: 195px ;
}

.page-content .section-parcours .parcours .items-parcours h4 {
    margin : 0 ;
    font-size: 18px ;
}

.page-content .section-parcours .parcours .items-parcours .description {
    font-size: 12px;
}

.page-content .section-parcours .parcours .items-parcours .dates {
    font-size: 14px ;
    color: gray;
}



@media screen and (max-width: 700px) {
    nav{
        justify-content : center ;
    }
    nav ul {
        display: flex;
        padding-right: 40px;
        padding-left: 20px;
    }


    .page-content header {
        margin-top: 10% ;
        max-width: 100% ;
    }

    .page-content header h1 {
        font-size: 25px;
    }

    .page-content .image img {
        margin-right: 0;
        margin-top: 0 ;
        height: 300px;
        width: auto;
        float: none;
    }

    
    .page-content .section-parcours {
        margin-top: 15% ;
    }

    .page-content .section-parcours h1 {
        font-size: 1.5em;
    }

    .page-content .section-parcours .parcours .items-parcours {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }


}